.Flexbox
{
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    float: right;
}
.Element
{
    --myar:black;
    background-color:var(--myvar, blue);
    margin: 10px;
    width: 200px;
    height: 200px;
}  
img
{
position: fixed;
right: 0px;
bottom: 0px;
height: 60px;
width: 60px;
}
img::after
{
    contetnt:"some text";

}
#Big
{
    flex-grow: 2;
}
@keyframes Loading
{
    from
    {
        top: 0px;
    }
    50%
    {
        top: +50px;
    }
    to
    {
        top: 0px;
    }
  
}
.button
{
    size: auto;
    font-size: 3em;
    background-color: rgb(158, 174, 190);
    color: white;
    right: 30px;
    top: 30px;
    border: 0px;
    position: relative; 
    border-radius: 9px;
    animation: Loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;

}